<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mars Information</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">To Mars!</a></p>
        </div>

        <div class="row">
            <div class="col-12">
                {{mars_results.MarsFacts}}
            </div>
        </div>

    </div>

</body>

</html>